name: Python CI Workflow

on: [push, pull_request]

jobs:
  test:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        python-version:
          - "3.7"
          - "3.8"

    steps:
      - uses: actions/checkout@v2

      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python-version }}

      - name: Upgrade pip version
        run: |
          python3 -m pip install --upgrade pip

      - name: Installs all the Dependencies
        run: |
          python3 setup.py install

      - name: Checks the Application Build
        run: |
          pip3 install wheel
          python3 setup.py sdist bdist_wheel

      - name: Checks the Documentation Build
        uses: ammaraskar/sphinx-action@master
        with:
          docs-folder: "docs/"

      - name: Lint with flake8
        run: |
          pip3 install flake8
          flake8 .
